<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add post</title>
</head>
<body>
<h1>Add New Post</h1>
  <form action="/Submit" method="post">
                        <label >title</label>
                        <input type="text" id="fname" name="title" placeholder="Enter title.."><br><br>
                         <label >Sub-Title</label>
                        <input type="text" id="subtitle" name="subtitle" placeholder="Enter subtitle.."><br><br>

                        <label>slug</label>
                        <input type="text" id="phone" name="slug" placeholder="Enter slug..."><br><br>

                        <label>Your name</label>
                        <input type="text" id="surname" name="surname" placeholder="Your Name.."><br><br>

                        <label>date</label>
                         <input type="datetime-local" id="lname" name="date" placeholder="Current date.."><br><br>

                        <label>content</label>
                           <textarea id="subject" name="content" placeholder="Write Content of the title.."
                                  style="height:400px; width:500px"></textarea><br><br>
                        <input type="submit" value="Submit">
                    </form><br>
</body>
</html>